@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-color: rgb(var(--fg-tertiary) / 0.4) transparent;
    @apply min-h-screen;
  }

  body {
    @apply bg-app-bg text-fg-primary font-sans text-base antialiased;
  }

  #root.wf-loading {
    @apply hidden;
  }

  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-md;
  }

  p {
    @apply leading-relaxed;
  }

  svg {
    @apply h-[1em] w-[1em];
  }

  .visx-crosshair svg,
  .visx-tooltip-glyph svg {
    height: unset !important;
    width: unset !important;
  }

  .visx-crosshair {
    position: relative;
    z-index: 10;
    pointer-events: none;
    transform: translateZ(0);
    isolation: isolate;
  }

  .visx-tooltip-glyph {
    position: relative;
    z-index: 11;
    pointer-events: none;
    transform: translateZ(0);
    isolation: isolate;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-fg-disabled;
  }

  input[type="password"]::-ms-reveal {
    display: none;
  }

  .popup #root {
    @apply border-primary box-border border;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  #dcent-connect {
    display: none;
  }

  *:not(.allow-focus):focus {
    outline: none;
  }
}

@layer components {
  input[type="checkbox"].form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6667 6.5L8.25001 12.9167L5.33334 10' stroke='%2300DBBC' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  }

  input[type="checkbox"].form-checkbox:focus:not(:focus-visible) {
    box-shadow: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    display: none;
  }
  .no-scrollbar {
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollable::-webkit-scrollbar {
    background-color: transparent;
  }
  .scrollable::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px currentColor;
    border: solid 3px transparent;
    border-radius: 25px;
    cursor: pointer;
  }
  .scrollable::-webkit-scrollbar-corner {
    background: transparent;
  }
  .scrollable::-webkit-resizer {
    appearance: none;
    display: none;
  }
  .scrollable {
    resize: none;
    scrollbar-color: currentColor transparent;
  }

  .scrollable-500::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(var(--fg-tertiary) / 0.25);
  }
  .scrollable-500 {
    scrollbar-color: rgb(var(--fg-tertiary) / 0.25) transparent;
  }

  .scrollable-600::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(var(--fg-tertiary) / 0.35);
  }
  .scrollable-600 {
    scrollbar-color: rgb(var(--fg-tertiary) / 0.35) transparent;
  }

  .scrollable-700::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(var(--fg-tertiary) / 0.5);
  }
  .scrollable-700 {
    scrollbar-color: rgb(var(--fg-tertiary) / 0.5) transparent;
  }

  .scrollable-800::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(var(--fg-tertiary) / 0.65);
  }
  .scrollable-800 {
    scrollbar-color: rgb(var(--fg-tertiary) / 0.65) transparent;
  }

  .scrollable-muted::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(var(--fg-tertiary) / 0.4);
  }
  .scrollable-muted {
    scrollbar-color: rgb(var(--fg-tertiary) / 0.4) transparent;
  }

  .balance-revealable {
    @apply rounded-xs relative cursor-pointer overflow-hidden text-transparent;
  }

  .balance-revealable.balance-reveal {
    @apply overflow-visible rounded-none text-inherit;
  }

  .balance-revealable::after {
    @apply rounded-xs absolute left-0 top-0 h-full w-full overflow-hidden bg-cover bg-no-repeat opacity-[15%];
    content: "";
    background-image: url("data:image/svg+xml;base64,IDxzdmcgaGVpZ2h0PSIxMDAiIHdpZHRoPSIxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGRlZnM+CiAgICA8ZmlsdGVyIGlkPSJmMSIgeD0iMCIgeT0iMCI+CiAgICAgIDxmZUdhdXNzaWFuQmx1ciBpbj0iU291cmNlR3JhcGhpYyIgc3RkRGV2aWF0aW9uPSIxNSIgLz4KICAgIDwvZmlsdGVyPgogIDwvZGVmcz4KICA8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgc3Ryb2tlLXdpZHRoPSIzIiAKICBmaWxsPSJ3aGl0ZSIgZmlsdGVyPSJ1cmwoI2YxKSIgLz4KPC9zdmc+IA==");
  }

  .balance-revealable.balance-reveal::after {
    @apply hidden;
  }
}
