@import "taostats-ui/src/styles/styles.css";

@font-face {
  font-family: "Everett";
  font-weight: 100;
  src: url("/fonts/everett/TWKEverett-Hairline-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 200;
  src: url("/fonts/everett/TWKEverett-Ultralight-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 300;
  src: url("/fonts/everett/TWKEverett-Light-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 400;
  src: url("/fonts/everett/TWKEverett-Regular-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 500;
  src: url("/fonts/everett/TWKEverett-Medium-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 700;
  src: url("/fonts/everett/TWKEverett-Bold-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 800;
  src: url("/fonts/everett/TWKEverett-Extrabold-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 900;
  src: url("/fonts/everett/TWKEverett-Black-web.woff2") format("woff2");
}
