@import "taostats-ui/src/styles/styles.css";

@font-face {
  font-family: "Everett";
  font-weight: 100;
  src: url("/fonts/everett/TWKEverett-Hairline-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 200;
  src: url("/fonts/everett/TWKEverett-Ultralight-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 300;
  src: url("/fonts/everett/TWKEverett-Light-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 400;
  src: url("/fonts/everett/TWKEverett-Regular-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 500;
  src: url("/fonts/everett/TWKEverett-Medium-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 700;
  src: url("/fonts/everett/TWKEverett-Bold-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 800;
  src: url("/fonts/everett/TWKEverett-Extrabold-web.woff2") format("woff2");
}

@font-face {
  font-family: "Everett";
  font-weight: 900;
  src: url("/fonts/everett/TWKEverett-Black-web.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2") format("woff2");
}
